/* Start About Us Section */
.aboutuss{
    background-color: #2b2b2b;
}
.overs{
    overflow: hidden;
}
.parents{
    position: relative;
}
.abouts{
    font-size: 1.1rem;
    color: #f4f4f4;
    font-weight: 450;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    transition: all 0.7s ease-in-out;
    transition-delay: 0.5s;
}
.textshows .abouts{
    transform: translate(-50%,-60px);
    transition-delay: 0s;
}
.infotexts{
    color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transform: translate(-100%);
    transition: all 0.9s ease-in-out;
}
.textshows .infotexts{
    opacity: 1;
    transform: translate(0%);
}
.circles{
    
    width: 80px;
    height: 80px;
    font-size: 2rem;
    color: white;
    background-color: orange;
    border-radius: 50%;
    /* text-align: center;
    line-height: 70px; */

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.textshows .circles{
    background-color: transparent;
    border: 2px solid orange;
    color: orange;
}
/* End About Us Section */